name: Update code snippets from issue trackers

permissions:
  contents: write

on:
  push:
    branches:
      - main
  # Triggers the workflow every three hours starting midnight UTC.
  schedule:
    - cron: 0 */3 * * *
  # If needed, allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  download-and-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - run: pip install requests
      - run: python3 update.py
      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - run: git add .
      - run: |
          if ! git diff --staged --exit-code ':(exclude)last_updated_utc.json'; then
            git commit -m "Automatic update of code snippets"
            git push
          fi
